.inp-add{
    margin: 2% !important;
    width: 90%;
}

.admin{
    background: url("https://krot.info/uploads/posts/2020-10/1603859570_21-p-sereznii-fon-34.jpg");
}


    .items-list{
        overflow: auto;
        width: 100%;
        height: 80vh;
        margin-top: 10px;
    }
    .items-list::-webkit-scrollbar {
        width: 5px;
        height: 20px;
    }
    .items-list::-webkit-scrollbar-thumb{
        border-width:1px 1px 1px 2px;
        border-radius: 2px;
        border-color: #777;
        background-color: #aaa;
    }
    .items-list::-webkit-scrollbar-track{
        border-width:0;
    }

@media all and (max-width: 500px){
    .items-list{
        width: 300px;
        padding: 1%;
        
    }
}