.DIV{
    background-image: url(https://image.freepik.com/free-photo/peach-watercolor-texture-background_1083-170.jpg?1);
    background-attachment: fixed;
    background-size: cover;
    padding-bottom: 50px;
    padding-top: 100px;
}