* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.navbar {
  width: 100%;
  height: 75px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1;
  position: absolute;
}
.navbar__item {
  margin: 5px 15px;
  color: black;
  font-size: 20px;
  font-weight: 500;
}
.navbar__item:hover{
    color: cornsilk;
}
.navbar__item-active {
  margin: 5px 15px;
  border-bottom: 1px solid black;
  color: black;
  font-size: 20px;
  font-weight: 500;
}
.navbar__item-active:hover{
    color: cornsilk;
    border-bottom: 1px solid white;
}

.sign-btn{
  cursor: pointer;
  border: 1px gray solid;
  display: inline-block;
  color: black;
  font-size: 15px;
  font-weight: 500;
  padding: 15px 20px;
  margin: 10px 20px;
  border-radius: 15px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-image: linear-gradient(to right, #e7ecb2 0%, #dac340 51%, #9EEFE1 100%);
  background-size: 200% auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, .1);
  transition: .5s;
}

.sign-btn:hover{
  background-position: right center;
}

.cart{
  color: black;
}
.cart:hover{  
color: cornsilk ;
}


