.main-footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* margin-top: 40%; */
    background-color: peachpuff;
    height: 200px;
}

.footer{
    color: black;
    display: flex;
    flex-direction: column;
}
.footer2{
    display: flex;
    flex-direction: column;
}
.contacts{
    display: flex;
    justify-content: space-around;
}

.back {
    display: flex;
    justify-content: center;
    background-color: PapayaWhip;
    margin:3px
}

