
.news {
    background: url("https://catherineasquithgallery.com/uploads/posts/2021-02/1613123985_66-p-fon-kosmos-zheltii-92.jpg");
    background-size: cover;
    height: 900px;
    display: flex;
    justify-content:center;
    align-items: center;
    color: black;
}